body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}





.otp-input {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 0 5px;
    border-radius: 5px;
    border: solid 1px rgb(180, 186, 197);
  }


.otp-input:focus{
    outline: rgb(21 93 252) solid 1px;
    border: none;
}

  .otp-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
  }
  .otp-container>span{
    font-size: 2em;
    font-weight: bolder;
  }

button {
    padding: 10px;
    background-color: rgb(21 93 252);
    color: white;
    border: none;
    border-radius: 5px;
    width: 40%;
    transition: 0.05s ease-in-out;
    cursor:pointer;
}

button:hover {
    background-color: rgb(4, 54, 163);
}

#message {
    margin-top: 10px;
    color: red;
}
